.popup {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup_wrapper {
  position: fixed;
  border-radius: 20px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  max-inline-size: 90%;
  max-block-size: 90%;
  inset-inline-start: 50%;
  inset-block-start: 50%;
}

.popup__image {
  display: block;
  border-radius: 25px;
  padding: 10px 10px 0;
  object-fit: contain;
  object-position: center;
  max-inline-size: 80vw;
  max-block-size: 70vh;
}

.popup__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
}

.popup__info_text {
  font-size: 20px;
}

.popup__info_number_close_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.popup__info_number_images {
  color: rgb(147, 173, 130);
}

.popup__close_button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.popup__close_icon {
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
  block-size: 30px;
  inline-size: 30px;
}

.popup__close_icon:hover {
  opacity: 0.7;
}
